#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.app-elements {
  background: #f0f4f8; /* Example background color */
  /* Add other styles for the elements theme */
}

